.colormenu2{
    background-color: #0D5E76;
}
.ofertaclaro{
    opacity: 0.8;
    background-color: rgba(128, 128, 128, 0.452);
    margin: 0px 230px 0px 170px;
    border-color:  rgba(128, 128, 128, 0.452);
}
.formulario1{
	float: center;
}
body{
    background-color: #F5EFF4;
}

.pie3{

  width:100%;
  color: white;
    background-color: #0D5E76;
}
.centrartitulo{
    text-align: center;
    color: white;
    background-color: #0D5E76 ;
}
.colorbutoon{
    background-color: #149EC6 ;
    color: white;
}
.mover{
    text-align: right;
}
.colorboton{
    background-color: #149EC6 ;
}
.grande{
    color: #ebebeb;
    background-color: orangered;
    margin-left: 850%;
}
